*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(./Assets/background.png);
   
}   
button{
    border: none;
    border-radius: 8px;
    height: 40px;
    width: 90px;
    background-color: red;
    color: white;
    font-weight: bold;
    font-size: 14px;
}
.navbar{
    margin: -26px 0 6rem 7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container{
    padding: 20px;
    text-align: center;
    color: white ;
}
.logo{
    margin-left: 50px;
}
.button{
    margin-right: 60px;
    margin-bottom: 20px;
}
h1{
    font-size: 3rem;
}
p{
    font-size: 1.5rem;
}
